@use 'src/styles/mixins';

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 700px;

  background-color: white;
  -webkit-box-shadow: 0 0 56px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 56px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 56px 0 rgba(34, 60, 80, 0.2);
  border-radius: 6px;


  .title_block {
    @include mixins.flex(row, space-between, center);
    margin: 0;
    padding-left: 25px;
    padding-right: 10px;

    &.separator {
      border-bottom: 1px solid gray;
    }

    .title {
      color: #808387;
      font-size: calc((100vw - 360px) / (1400 - 360) * (24 - 19) + 19px);
      font-weight: normal;
    }

    .close_button {
      all: unset;
      .wrapper {
        @include mixins.flex(row, center, center);
        cursor: pointer;
        width: 2.375rem;
        height: 2.375rem;
        border-radius: 50%;

        &:active {
          background-color: gray;
        }

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }

  .body {
    padding: 24px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;

    padding: 30px 25px;

    &.separator {
      border-top: 1px solid gray;
    }

  }
}
//.overlay {
//  background: rgba(0 0 0 / 0.5);
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  display: grid;
//  place-items: center;
//  overflow-y: auto;
//}