.work_time {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 0 1 40%;

  input {

    text-align: center;
  }

  .start_time {
    border-right: none;
    border-radius: 6px 0 0 6px;
  }

  .end_time {
    border-left: none;
    border-radius: 0 6px 6px 0;
  }

  .until {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #bdbdbd;
    padding: 10px;
    font-size: 12px;
    flex: 0 1 10%;
  }
}


