.container {
  display: flex;
  position: relative;
  flex: 0 1 30%;
  .select {
    font-size: 12px;
    padding: 0 50px 0 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    text-overflow: ellipsis;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../../../src/images/svg/icons/arrowDown/arrowDown.svg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: center;
    cursor: pointer;
  }
  .line {
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: lightgray;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
  }
}

