@use 'src/styles/mixins';

.container {
  @include mixins.flex(column, center);
  max-width: 700px;
  width: 100%;
  gap: 20px;


  .school_name_and_color_picker_row {
    @include mixins.flex(row, space-between, center);
    width: 100%;

    .school_name_input {
      max-width: 120px;
    }
  }

  .row {
    @include mixins.flex(row, space-between, center);
    width: 100%;
    gap: 20px;

  }

  .teacher_and_classroom_row {
    @include mixins.flex(row, space-between);
    gap: 20px;

    .teacher_selector {
      width: 66%;
    }

    .classroom_selector {
      width: 33%;
    }

  }

  .hint {
    font-size: 12px;
    padding: 10px;
    background-color: #ffdbe7;
  }
}

@media (max-width: 850px) {
  .container {
    .row {
      @include mixins.flex(column, center);
    }

    .row > * {
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .container {
    .teacher_and_classroom_row {
      @include mixins.flex(column);

      .teacher_selector,
      .classroom_selector {
        width: 100%;
      }
    }

    .school_name_and_color_picker_row {
      @include mixins.flex(column, space-between, center);
      gap: 20px;
      .school_name_input {
        width: 100%;
        max-width: none;
      }
    }
  }
}